/* Appliquer le box-sizing globalement */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('falaise.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden; /* Empêche le dépassement horizontal */
}

.content {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-sizing: border-box; /* Évite les débordements */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

header {
    height: 50vh;
    background-image: url('drapeau.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff; /* Changez la couleur de fond selon vos besoins */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Légère ombre pour l'effet de surélévation */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transition pour l'effet de défilement */
}

header.hidden {
    transform: translateY(-100%); /* Déplace le header vers le haut */
    opacity: 0; /* Le rendre invisible */
}

.header-content {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Un fond semi-transparent pour améliorer la lisibilité du texte */
    border-radius: 8px
}


h1, p {
    margin: 0;
}

nav {
    position: fixed; /* Fixe la nav en haut de la page */
    top: 0; /* Aligne la nav en haut */
    left: 0; /* Aligne la nav à gauche */
    width: 100%; /* Fait en sorte que la nav prenne toute la largeur */
    z-index: 1000; /* Assure que la nav reste au-dessus des autres éléments */
    background-color: #444; /* Conserve la couleur de fond */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre pour distinguer la nav du reste de la page */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

nav ul li {
    margin: 0.5rem 1rem;
}

nav ul li a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 4px;
}



section {
    padding: 2rem;
    background-color: white;
    margin: 1rem;
    border-radius: 8px;
    font-size: 1rem;
}


#quote-container, #about, #diplome, #services, #contact {
    width: calc(100% - 40px); /* S'assure que l'élément ne dépasse pas la largeur de la page */
    padding: 20px;
    margin: 20px auto;
    background-color: #ADD8E6;
    opacity: 0.9;
    border-radius: 8px;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.quote-container {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 1rem;
}

#quote-container h1 {
    margin-bottom: 10px; /* Espacement sous le titre */
}

#quote-container h2 {
    font-style: italic; /* Italique pour la citation */
    margin-bottom: 10px; /* Espacement sous la citation */
}

#quote-container p {
    font-weight: bold; /* Texte en gras pour l'auteur */
    margin-top: 10px; /* Espacement au-dessus du nom de l'auteur */
}

#quote-container hr {
    width: 15%;
    margin-left: 0; /* Aligner à gauche en supprimant les marges */
}

#otherAdvices {
    display: flex; /* Dispose les divs en ligne */
    justify-content: center; /* Centre les divs au milieu de la section */
    background-color: rgba(128, 128, 128, 0.5); /* Bande grise transparente */
    padding: 20px; /* Espacement intérieur */
    width: 100vw; /* Prend toute la largeur de l'écran */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    margin: 0; /* Supprime les marges extérieures */
    border-radius: 0; /* Angles droits */
    flex-wrap: wrap; /* Empile les divs si l'espace est insuffisant */
}

.advice {
    width: 30%; /* Largeur des divs pour écrans larges */
    margin-bottom: 20px; /* Espacement sous chaque div */
    text-align: center; /* Centrer les éléments à l'intérieur */
    margin-left: 10px; /* Ajoute un léger espacement entre les divs */
    margin-right: 10px; /* Ajoute un léger espacement entre les divs */
}

#otherAdvices h1 {
    margin-top: 0;
}

#otherAdvices p {
    line-height: 1.5;
}


form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Évite les débordements */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}



.form-group input,

.form-group textarea {
    width: 100%; /* Correction de la largeur à 100% */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur */
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}


footer {
    padding: 2rem;
    background-color: #333;
    color: white;
    font-size: 1rem;
    width: 100%;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
    header {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .header-content {
        padding: 10px;
        background: rgba(0, 0, 0, 0.5); /* Un fond semi-transparent pour améliorer la lisibilité du texte */
        border-radius: 8px;
    }
    
    nav ul {
        font-size: 0.9rem;
        padding: 0.01rem;
        flex-direction: column;
        width: 100%;
    }
    
    nav ul li {
        font-size: 0.9rem;
        padding: 0.01rem;
        margin: 0rem 0;
    }
    
    section {
        margin: 0.5rem;
        padding: 1rem;
    }

    #otherAdvices div {
        width: 80%; /* Chaque div prend toute la largeur */
    }
    
    footer {
        font-size: 0.9rem;
        padding: 1rem;
    }
}


@media (max-width: 480px) {
    header {
        font-size: 1.2rem;
    }
    
    .header-content {
        padding: 10px;
        background: rgba(0, 0, 0, 0.5); /* Un fond semi-transparent pour améliorer la lisibilité du texte */
        border-radius: 8px;
    }

    section {
        padding: 0.5rem;
        margin: 0.5rem;
    }
    
    footer {
        font-size: 0.8rem;
    }

        #otherAdvices {
        padding: 10px; /* Réduit le padding sur les petits écrans */
    }

    .advice {
        width: 100%; /* Prend toute la largeur pour les petits écrans */
        margin: 0; /* Supprime les marges entre les divs sur petits écrans */
    }

    #otherAdvices h1 {
        font-size: 1.5em; /* Réduit la taille des titres pour les petits écrans */
    }

    #otherAdvices p {
        font-size: 1em; /* Réduit la taille du texte pour les petits écrans */
    }
    
    .quote-container {
        padding: 1rem;
        margin: 0.5rem;
    }
}
